<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.print.webview.plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>PrintWebview</name><js-module name="PrintWebview" src="www/PrintWebview.js"><clobbers target="cordova.plugins.PrintWebview" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="PrintWebview"><param name="android-package" value="com.print.webview.plugin.PrintWebview" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/PrintWebview.java" target-dir="src/com/print/webview/plugin/PrintWebview" /><source-file src="src/android/MainActivity.java" target-dir="src/com/print/webview/plugin/PrintWebview" /><source-file src="src/android/activity_webview.xml" target-dir="res/layout"/></platform></plugin>